.header {
    background-color: #fff;
    box-sizing: border-box;
    border-bottom: 3px solid rgb(71, 243, 229);
    height: 80px;
}

.header_inner_wrapper {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_wrapper .logo {
    min-width: 59%;
    max-width: 60%;
}
.navbar_list {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: nowrap;
}

.navbar_list_item_link {
    display: block;
    padding: 10px 20px;
    font-size: 22px;
    text-decoration: none;
    white-space: nowrap;
}

.navbar_list_item_link.active {
    color: rgb(71, 243, 229);
}

.loginBlock, .loginBlock a {
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0px 0px 7px #01C5BB;
}