.paginator{
    padding: 30px 0;
}
.selectedPage {
    font-weight: bold;
    background-color: #01C5BB;
    color: #FFF;
}

.pages {
    display: inline-block;
    text-align: center;
    width: 25px;
    padding: 5px;
    margin: 5px 2px;
    border: 1px solid #0A246A;
    border-radius: 20%;
}

.pages:hover {
    cursor: pointer;
}

.prev,
.next {
    padding: 5px 10px;
    background-color: #e560ff;
    color: #fff;
    font-weight: 900;
    border-radius: 20px;
    border: none;
    outline: none;
}

.prev:hover,
.next:hover {
    background-color: #fff;
    color: #01C5BB;
}