.reviews {
    display              : grid;
    grid-template-columns: 2fr 10fr;

}

.reviewsItems {
    padding: 10px;
}

.reviewsItems .active {
    color: goldenrod;
}

.messages {
    padding: 10px;
}