.welcome {
    background: url('../../img/pattern.png') repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    height: 92.3vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.welcome:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../../img/3.jpg') no-repeat 50% 50%;
    background-size: cover;
    z-index: -999999;
}

.welcome_inner_wrapper {
    width: 1140px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding-top: 140px;
    background: url('../../img/1.png') no-repeat 50% 100%;
}

.welcome_caption {
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 0;
    text-align: center;
}

